/* Reset some default browser styles */
body {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #0077B6; /* Blue background color */
    color: #ffffff; /* White text color */
    padding: 20px 0; /* Add some padding */
}

.header-container {
    max-width: 1200px; /* Center the header and limit its width */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust the logo size as needed */
    height: auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff; /* White text color */
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00A0D6; /* Lighter blue color on hover */
}
