<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            {% if ageinput > 18  %}
                Sorry, You are under age {{ageinput}}
            {% else %}
                Congrate,{{ageinput}} You are in valid age , You can Book Hotel for Your Joyness

            {% endif %}
            
        
        </div>

    </body>
</html>
