{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static\css\style.css" />
        <title>Welcome Home</title>
    </head>
<body>
    <div class="header">
        <h1>Welcome to LAXME ROYAL</h1>
        <p>Your Place of Comfort and Relaxation</p>
    </div>
    <div class="container">
        <h2>About Us</h2>
        <p>"Welcome to LAXME ROYAL

            In the heart of WORLD, LAXME ROYAL has been a symbol of luxury for 25 years. We offer exceptional accommodations, fine dining, and top-notch amenities. Our dedicated team is here to make your stay truly memorable, whether for business or leisure. Your home away from home awaits."</p>

        <h2>Services</h2>
        <ul>
            <li>Cozy Bedrooms</li>
            <li>Delicious Dining</li>
            <li>Relaxing Spa</li>
            <li>Scenic Views</li>
        </ul>

        <!-- Add links to buttons with full URLs -->

        <a href="/achievements" class="cta-button">Achievements</a>
        <a href="/location/" class="cta-button">Location</a>
        <a href="/form" class="cta-button">Feedback</a>
        <a href="/ourclients/" class="cta-button">Our Clients</a>
        <a href="/Resorts" class="cta-button"> Our WorldWide Resorts</a>
        <p></p>
        <a href="/ourmanagement/" class="cta-button">Management</a>

        <a href="/gallary" class="cta-button">Gallary</a>
        <a href="/admin/" class="cta-button">Admin</a>
        <a href="/contacts/" class="cta-button">Contacts</a>
        <a href="/" class="cta-button">Home</a>

    </div>
</body>
</html>
{% endblock %}